<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/match_play.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <div>
        <% include ./partials/_navbar %>
      </div>
      <br>

    <header>
      <div class="prize">
          <h1 class="bounty">BOUNTY</h1>
          <img src='/images/prize<%=matchState["prize"]["faceUp"]%>.png' height=200 width=150 style="border:double" >
      </div>

      <form action="bid/" method="POST"><input name="player_bid" type="number"><button>Bid</button>
          <% if (player === 1|| player === null) {%>
            <div class="scoredisplay">
              <div class="collected">COLLECTED</div>
              <div class="player1score"><%=matchState["player1"]["score"]%></div>
            </div>
        <div class="playercards">
        <% for(let card of matchState["player1"]["hand"]) {%>
            <input type="image" class="singlecard" value="<%=[card]%>" src='/images/number<%=[card]%>.jpg'>
        <% }}%>
      </div>

        <% if (player === 2) {%>
          <div class="scoredisplay">
           <div class="collected">COLLECTED</div>
            <div class="player2score"><%=matchState["player2"]["score"]%></div>
          </div>
      <div class="playercards">
  <% for(let card of matchState["player2"]["hand"]) {%>
    <input type="image" class="singlecard" value="<%=[card]%>" src='/images/number<%=[card]%>.jpg'>
  <% }}%>
</div>
    </form>
  </header>
  </body>
</html>

