<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/users_show.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>



  <body>
      <nav>
          <% include ./partials/_navbar %>
      </nav>

    <main>
        <h3 class="displayname"><%= displayemail %></h3>
        <tbody>
          <div id="matchlist">
          <ul class="showid">
              <div style="font-size:30px; text-decoration:underline">Game ID</div>
            <% for(let id of matchIds) { %>
              <li><%= id %></li>
            <% } %>
          </ul>

          <ul class="showtitle">
              <div style="font-size:30px; text-decoration:underline;">Game Type</div>
              <% for(let title of titles) { %>
                <li><%= title %></li>
              <% } %>
          </ul>
          <ul class="showplayer1">
              <div style="font-size: 30px; text-decoration: underline;">Player 1</div>
              <% for(let player of players) { %>
                <li><%= player[0] %></li>
              <% } %>
          </ul>
          <ul class="showplayer2">
              <div style="font-size: 30px; text-decoration: underline;">Player 2</div>
              <% for(let player of players) { %>
                <li><%= player[1] %></li>
              <% } %>
          </ul>
          <ul class="showscore1">
              <div style="font-size: 30px; text-decoration: underline;">Player 1 Score</div>
              <% for(let score of scores) { %>
                <li><%= score[0] %></li>
              <% } %>
          </ul>
          <ul class="showscore2">
              <div style="font-size: 30px; text-decoration: underline;">Player 2 Score</div>
              <% for(let score of scores) { %>
                <li><%= score[1] %></li>
              <% } %>
          </ul>
          <ul class="showwinner">
              <div style="font-size: 30px; text-decoration: underline;">Winner</div>
              <% for(let winner of winners) { %>
                <li><%= winner %></li>
              <% } %>
          </ul>
          <ul >
              <div style="font-size: 30px; text-decoration: underline; font-family: 'ChineseRocksRg-Regular'">Inspect</div>
              <% for(let id of matchIds) { %>
                <td>
                    <form method="GET" action="/titles/1/matches/<%=id%>/">
                      <button class="showplay" type="submit" >VIEW</button>
                    </form>
                </td>
              <% } %>
          </ul>
        </div>

        </tbody>
    </main>

  </body>


