<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/users_show.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>



<body>
    <nav>
        <% include ./partials/_navbar %>
    </nav>

  <main>
      <h3 class="displayname"><%= user_email %></h3>
      <table>
        <tr>
          <th>Match id</th>
          <th>Game Title</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Player 1 Score</th>
          <th>Player 2 Score</th>
          <th>Winner</th>
          <th>Action</th>
        </tr>
        <% for (const match of matches) { %>
        <tr>
          <td><%= match.id %></td>
          <td><%= match.game_type %></td>
          <td><%= match.player_1 %></td>
          <td><%= match.player_2 %></td>
          <td><%= match.match_state.player1.score %></td>
          <td><%= match.match_state.player2.score %></td>
          <td><%= match.match_winner_id %></td>
          <td>
            <form method="GET" action="/titles/1/matches/<%= match.id %>/">
              <% if ( (user_id !== match.match_state.player1.id && user_id !== match.match_state.player2.id) || match.match_state.prize.hand.length === 0) { %>
              <button class="showplay" type="submit" >VIEW</button>
              <% } else { %>
              <button class="showplay" type="submit" >PLAY</button>
              <% } %>
            </form>
          </td>
        </tr>
          <% } %>
      </table>
  </main>

</body>
